.spacer {
  height: 100px;
}

.nav-item, .navbar-brand a:hover {
  cursor: pointer;
}

#woodshopPic {
  width: 370px;
  height: auto;
}

#circlePics {
  width: 180px;
  height: 120px;
}

#productPic {
    background-color: white;
  max-width: 70%;
  height: auto;
}

#shoppingCart{
    position: fixed;
    bottom: 40px;
    right: -20px;
}

#shoppingCartBtn{
    position: fixed;
    bottom: 15%;
    right: 5%;
}
