.spacer {
  margin: 45px;
}

.nav-item a:hover{  
    cursor: pointer 
}

#woodshopPic {
  width: 370px;
  height: auto;
}

#circlePics {
  width: 180px;
  height: auto;
}

#productPic {
  max-width: 100%;
  height: auto;
}
